.banner {
    width: 100%;
    height: 500px;
    position: relative;
}

.banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}

.banner::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    /* background: linear-gradient(to top, #000, transparent); */
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
}

.banner .bgImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 25%;
    left: 5%;
    height: 190px;
    color: white;
    z-index: 999999;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.button {
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 28px;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 15px;
}
.button:hover {
    color: black;
    background-color: #e6e6e6;
}

.description {
    width: 750px;
    padding-top: 20px;
    font-size: 20px;
    height: 80px;
    max-width: 500px;
}
